<!DOCTYPE html>
{% load tailwind_filters %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded shadow-md">
        <h1 class="text-2xl font-semibold text-center mb-6">Register Page</h1>
        <form action="" method="post" class="space-y-4">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="text-xl font-medium bg-blue-500 text-white px-3 py-2 rounded w-full">
                Submit
            </button>
        </form>
    </div>
</body>

</html>