<!DOCTYPE html>
<html lang="en">
{% load tailwind_filters %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>todo app </title>
</head>

<body>
    <div>
        <h1 class="text-xl font-medium  text-center mt-10">Insert Todo</h1>
        <hr class="m-5 px-20">
    </div>

    <div class="flex flex-1 justify-center">
        <form action="{% url 'create_todo' %}" method="post">
            <div class=" ">
                {% csrf_token %}
                {{form|crispy}}
            </div>
            <button type="submit"
                class=" text-lg text-center bg-blue-500 text-white px-3 py-1 rounded  w-full">Submit</button>
        </form>
    </div>


    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10 px-10">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Serial No
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Title
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Descriptions
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for test in tests %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <!-- <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                 dfhgug
                </th> -->
                    <td class="px-6 py-4 text-lg">
                        {{forloop.counter}}
                    </td>
                    <td class="px-6 py-4 text-lg">
                        {{test.title}}
                    </td>
                    <td class="px-6 py-4 text-lg">
                        {{test.description}}
                    </td>
                    <td class="px-6 py-4 text-right gap-3 flex flex-1 items-center justify-center text-center">

                        {% if test.completed %}
                        <span class="text-green-700 font-semibold">✔ Completed</span>
                        {% else %}
                        <a href="{% url 'completed_todo' test.id %}" class="text-red-700 font-semibold">❌ Not Completed</a>
                   
                        {% endif %}


                        <a href="{% url 'delete' test.id %}" class="font-medium text-red-600 text-lg dark:text-blue-500  hover:underline">Delete</a>
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>

</body>

</html>